@font-face {
  src: url(fonts/larsseit.woff2) format("woff2"), url(fonts/larsseit.woff) format("woff");
  font-family: Larsseit;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Larsseit, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.page-header {
  margin: 0;
  padding: 0;
}

.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 0 0 50px;
  width: 90%;
  max-width: 1130px;
  text-align: center;
  background: 0 0;
}

@media (max-width:1024px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 0 0;
    padding-left: 10%
  }
}

.main-nav__title {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -.035em;
  color: #62d0df;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 11px 0 0 10px;
  width: 233px;
}

@media (max-width:1024px) {
  .menu {
    order: 3;
    padding: 20px 0 0;
    width: 100%
  }
}

.menu__item {
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}

.menu__link {
  position: relative;
}

.menu__link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 25px;
  width: calc(100% + 10px);
  height: 5px;
  box-shadow: inset 0 -1px 0 #22356f;
  background: #f4f9e2;
  transform: translate(-50%, 0);
}

.main-nav__btn {
  border-color: transparent;
  border-radius: 50px;
  padding: 14px 30px;
  width: 150px;
  height: 50px;
  font-family: Larsseit, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #62d0df;
}

@media (max-width:1024px) {
  .main-nav__btn {
    padding: 8px 30px;
    height: 35px;
  }
}

main {
  margin: 0;
  padding: 0;
}

.intro {
  margin: 0;
  margin-right: 320px;
  padding: 230px 0 179px 75px;
  background-color: #f4f9e2;
}

@media (max-width:1205px) {
  .intro {
    margin: 0;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 10%;
    width: 100%
  }
}

.intro__title {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -.035em;
  color: #62d0df;
}

@media (max-width:1024px) {
  .intro__title {
    display: none;
  }
}

.intro__subtitle {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  width: 484px;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -.035em;
  text-transform: uppercase;
  color: #22356f;
}

@media (max-width:1024px) {
  .intro__subtitle {
    margin: 0;
    width: 85%
  }
}

.intro__text {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  width: 469px;
  font-size: 24px;
  line-height: 45px;
  color: #22356f;
}

@media (max-width:1024px) {
  .intro__text {
    margin-top: 40px;
    width: 90%;
    line-height: 35px;
  }
}

.intro__buttons {
  margin: 0;
  margin-top: 52px;
  padding: 0;
}

@media (max-width:1024px) {
  .intro__buttons {
    margin: 52px auto 0;
  }
}

.intro__btn {
  border-color: transparent;
  padding: 0 10px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fab63e;
  background: 0 0;
}

@media (max-width:1024px) {
  .intro__btn {
    width: 120px;
  }
}

.intro__btn:nth-child(2) {
  margin-left: 20px;
  width: 170px;
}

.intro__btn:hover {
  color: #fff;
  background: #f9b640;
}

.intro__ellipse {
  position: absolute;
  right: 0;
  top: -25px;
  width: 743px;
  height: 824px;
  background-image: url(img/ellipse.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width:1205px) {
  .intro__ellipse {
    display: none;
  }
}

.intro__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 743px;
  height: 824px;
  background-image: url(img/intro.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width:1205px) {
  .intro__img {
    display: none;
  }
}

.advantages {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  padding-left: 178px;
  height: 604px;
  background-image: url(img/advantages.jpg);
  background-position: right;
  background-size: 525px 604px;
  background-repeat: no-repeat;
  background-color: #62d0df;
}

@media (max-width:1300px) {
  .advantages {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 10%;
    width: 100%;
    height: auto;
    background-image: none;
  }
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 165px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -.006em;
  color: #fff;
}

@media (max-width:1024px) {
  .advantages__title {
    padding: 0;
  }
}

.advantages__strong {
  font-size: 24px;
  line-height: 38px;
}

.advantages__text {
  margin: 0;
  margin-top: 85px;
  padding: 0;
  width: 555px;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
}

@media (max-width:1024px) {
  .advantages__text {
    width: 85%
  }
}

.about-us {
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  height: 361px;
}

@media (max-width:1024px) {
  .about-us {
    padding-left: 5%;
    width: 100%;
    height: auto;
  }
}

.about-us__title {
  margin: 0;
  padding: 0;
  padding-top: 155px;
  padding-left: 106px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #22356f;
}

@media (max-width:1024px) {
  .about-us__title {
    display: none;
  }
}

.about-us__text {
  margin: 0;
  margin-top: -30px;
  padding: 0;
  padding-left: 424px;
  width: 592px;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: .005em;
  color: #22356f;
}

@media (max-width:1024px) {
  .about-us__text {
    margin: 50px auto 0;
    padding: 0;
    width: 85%
  }
}

@media (max-width:1024px) {
  .features {
    width: 110%
  }
}

.features__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: .06em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(34, 53, 111, .5);
}

.features__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 120px;
  padding: 0;
}

@media (max-width:1380px) {
  .features__list {
    margin: 0 auto 120px;
    width: 960px;
  }
}

@media (max-width:1024px) {
  .features__list {
    margin: 0 auto 120px;
    width: 100%
  }
}

.features__item {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -.006em;
  color: #fff;
}

.first-row {
  position: relative;
  padding-top: 100px;
  padding-left: 80px;
  width: 280px;
  height: 260px;
}

@media (max-width:1024px) {
  .first-row {
    padding: 15%;
    width: 100%;
    height: auto;
  }
}

.first-row::before {
  content: "\2022";
  position: absolute;
  display: inline-block;
  margin-top: -5px;
  margin-left: -27px;
  width: 9px;
  font-weight: 700;
  color: #e9b730;
}

@media (max-width:1024px) {
  .first-row::before {
    content: none;
  }
}

.first-row::after {
  content: "";
  position: absolute;
  left: 52.5px;
  top: 71px;
  display: block;
  width: 255px;
  height: 1px;
  box-shadow: inset 0 -1px 0 #fff;
  background: 0 0;
}

@media (max-width:1024px) {
  .first-row::after {
    content: none;
  }
}

.first-row:nth-child(1) {
  background: #ffe2de;
}

.first-row:nth-child(2) {
  background: #c4e769;
}

.first-row:nth-child(3) {
  background: #62d0df;
}

.first-row:nth-child(4) {
  background: #0052c1;
}

.cards {
  margin: 0;
  padding: 0;
}

@media (max-width:1380px) {
  .cards {
    margin: 0 auto;
    width: 100%
  }
}

.cards__item {
  position: relative;
  padding-top: 130px;
  padding-left: 105px;
  width: 375px;
  height: 350px;
}

@media (max-width:1024px) {
  .cards__item {
    padding: 15%;
    width: 100%;
    height: auto;
  }
}

.cards__item::before {
  content: "\2022";
  position: absolute;
  display: block;
  margin-top: 0;
  margin-left: -34px;
  font-weight: 700;
  font-size: 40px;
  color: #e9b730;
}

@media (max-width:1024px) {
  .cards__item::before {
    content: none;
  }
}

.cards__item::after {
  content: "";
  position: absolute;
  left: 70px;
  top: 96px;
  display: block;
  width: 340px;
  height: 1px;
  box-shadow: inset 0 -1px 0 #fff;
  background-color: transparent;
}

@media (max-width:1024px) {
  .cards__item::after {
    content: none;
  }
}

.cards__item:nth-child(1) {
  background: #22356f;
}

.cards__item:nth-child(2) {
  background: #0052c1;
}

.cards__item:nth-child(3) {
  background-image: url(img/nutrition.jpg);
  background-position: center;
  background-size: cover;
}

.cards__item:nth-child(4) {
  background: #62d0df;
}

.cards__item:nth-child(5) {
  background: #dee1ff;
}

.cards__item:nth-child(6) {
  background: #8f00ff;
}

.pros {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pros__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (max-width:1380px) {
  .pros__list {
    margin: 0 auto;
    width: 90%
  }
}

.pros__item {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-top: 50px;
  padding-left: 105px;
  width: calc(33.3% - 105px);
}

@media (max-width:1380px) {
  .pros__item {
    margin: 0 auto;
    padding-left: 20%;
    width: 100%
  }
}

.pros__title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -.03em;
  color: #22356f;
}

.pros__text {
  width: 300px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -.03em;
  color: rgba(34, 53, 111, .5);
}

.info {
  margin: 0;
  padding: 0;
  padding-left: 586px;
  height: 800px;
  background-image: url(img/info.jpg);
  background-position: left;
  background-size: 480px 800px;
  background-repeat: no-repeat;
}

@media (max-width:1380px) {
  .info {
    padding: 0;
    background-image: none;
  }
}

@media (max-width:1024px) {
  .info {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
  }
}

.info__title {
  padding-top: 110px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #22356f;
}

@media (max-width:1024px) {
  .info__title {
    display: none;
  }
}

.info__text {
  margin: 0;
  margin-top: 225px;
  padding: 0;
  width: 676px;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: -.01em;
  color: #22356f;
}

@media (max-width:1024px) {
  .info__text {
    margin: 0;
    padding: 0;
    padding-left: 10%;
    width: 85%
  }
}

.info__link {
  display: block;
  margin: 0;
  margin-top: 145px;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fab63e;
}

@media (max-width:1024px) {
  .info__link {
    margin: 60px auto 0;
    width: 50%;
    text-align: center;
  }
}

.contact-us {
  margin: 0;
  padding: 0;
  padding-left: 180px;
  height: 800px;
  background-image: url(img/contact-us.jpg);
  background-position: right;
  background-size: 480px 800px;
  background-repeat: no-repeat;
  background-color: #22356f;
}

@media (max-width:1380px) {
  .contact-us {
    background-image: none;
  }
}

@media (max-width:1024px) {
  .contact-us {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 10%;
    width: 100%;
    height: auto;
  }
}

.contact-us__title {
  margin: 0;
  padding-top: 110px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width:1024px) {
  .contact-us__title {
    display: none;
  }
}

.contact-us__subtitle {
  margin: 0;
  padding-top: 220px;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -.01em;
  color: #fff;
}

@media (max-width:1024px) {
  .contact-us__subtitle {
    padding-top: 100px;
  }
}

.contact-us__text {
  margin: 0;
  margin-top: 50px;
  width: 579px;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: -.005em;
  color: #fff;
}

@media (max-width:1024px) {
  .contact-us__text {
    width: 85%
  }
}

.contact-us__link {
  display: block;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #62d0df;
}

@media (max-width:1024px) {
  .contact-us__link {
    margin: 60px auto 0;
    width: 50%;
    text-align: center;
  }
}

.page-footer {
  margin: 0;
  margin-top: -16px;
  padding: 0;
}

@media (max-width:1024px) {
  .page-footer {
    width: 100%
  }
}

.contact-info {
  margin: 0;
  padding: 0;
  height: 380px;
  background-image: url(img/footer.jpg);
  background-position: left;
  background-size: 570px 380px;
  background-repeat: no-repeat;
}

@media (max-width:1380px) {
  .contact-info {
    padding-bottom: 50px;
    padding-left: 7%;
    width: 100%;
    height: auto;
    background-image: none;
  }
}

.contact-info__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 600px;
  padding-top: 90px;
}

@media (max-width:1024px) {
  .contact-info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    width: 100%
  }
}

.contact-info__item {
  width: 33%;
  min-width: 200px;
}

@media (max-width:1024px) {
  .contact-info__item {
    padding-bottom: 5%
  }
}

.contact-info__title {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -.006em;
  text-transform: uppercase;
  color: #22356f;
}

.contact-info__text {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  width: 200px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -.006em;
  color: rgba(34, 53, 111, .5);
}

.copyright {
  margin: 0;
  padding: 25px 0 0 180px;
  height: 60px;
  background: #62d0df;
}

@media (max-width:1024px) {
  .copyright {
    padding-left: 10%;
    width: 100%
  }
}

.copyright__text {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -.006em;
  color: #fff;
}