@font-face {
  font-family: 'Larsseit';
  src: url('./fonts/larsseit.woff2') format('woff2'),
    url('./fonts/larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* general */
body {
  font-family: 'Larsseit', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


/* header */
.page-header {
  margin: 0;
  padding: 0;
}

.main-nav {
  z-index: 2;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-left: 50px;
  width: 1130px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: transparent;
}

.main-nav__title {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

.menu {
  padding-top: 11px;
  padding-left: 10px;
  width: 233px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
}

.menu__link {
  position: relative;
}

.menu__link:hover::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 5px;
  background: #F4F9E2;
  box-shadow: inset 0px -1px 0px #22356F;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-nav__btn {
  width: 150px;
  height: 50px;
  padding: 14px 30px;
  background: #62D0DF;
  border-radius: 50px;
  border-color: transparent;
  font-family: 'Larsseit', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* intro */
.main {
  margin: 0;
  padding: 0;
}

.intro {
  margin: 0;
  margin-right: 320px; 
  padding-top: 230px;
  padding-left: 179px;
  padding-bottom: 75px;
  background-color: #F4F9E2;
}



.intro__title {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

.intro__subtitle {
  width: 484px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.035em;
  color: #22356F;
  text-transform: uppercase;
}

.intro__text {
  width: 469px;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  font-size: 24px;
  line-height: 45px;
  color: #22356F;
}

.intro__buttons {
  margin: 0;
  padding: 0;
  margin-top: 52px;
}

.intro__btn {
  width: 150px;
  height: 50px;
  padding: 0 10px;
  background: transparent;
  border-color: transparent;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  text-transform: uppercase;
}

.intro__btn:nth-child(2) {
  margin-left: 20px;
  width: 170px;
}

.intro__btn:hover {
  background: #F9B640;
  color: #FFFFFF;
}

.intro__ellipse {
  position: absolute;
  top: -25px;
  right: -25px;

  width: 743px;
  height: 824px;
  background-image: url(./img/ellipse.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro__img {
  position: absolute;
  top: 0;
  right: 0;

  width: 743px;
  height: 824px;
  background-image: url(./img/intro.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* advantages */
.advantages {
  height: 604px;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  padding-left: 178px;
  background-color: #62D0DF;
  background-image: url(./img/advantages.jpg);
  background-position: right;
  background-size: 525px 604px;
  background-repeat: no-repeat;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 165px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.advantages__strong {
  font-size: 24px;
  line-height: 38px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  margin-top: 85px;
  width: 555px;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

/* about us */
.about-us {
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
  height: 361px;
}

.about-us__title {
  margin: 0;
  padding: 0;
  padding-top: 155px;
  padding-left: 106px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356F;
  text-transform: uppercase;
}

.about-us__text {
  margin: 0;
  padding: 0;
  margin-top: -30px;
  padding-left: 424px;
  width: 592px;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.005em;
  color: #22356F;
}

/* features */
.features__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.features__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.features__item {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.first-row {
  position: relative;
  width: 280px;
  height: 260px;
  padding-top: 100px;
  padding-left: 80px;
  margin-bottom: 120px;
}

.first-row::before {
  content: "\2022";
  position: absolute;
  color: #E9B730;
  font-weight: bold;
  display: inline-block;
  width: 9px;
  margin-left: -27px;
  margin-top: -5px;
}

.first-row::after {
  content: "";
  display: block;
  width: 255px;
  height: 1px;
  background: transparent;
  box-shadow: inset 0px -1px 0px #FFFFFF;
  position: absolute;
  top: 71px;
  left: 52.5px;
}

.first-row:nth-child(1) {
  background: #FFE2DE;
}

.first-row:nth-child(2) {
  background: #C4E769;
}

.first-row:nth-child(3) {
  background: #62D0DF;
}

.first-row:nth-child(4) {
  background: #0052C1;
}

.cards {
  margin: 0;
  padding: 0;
}

.cards__item {
  position: relative;
  width: 375px;
  height: 350px;
  padding-top: 130px;
  padding-left: 105px;
}

.cards__item::before {
  content: "\2022";
  font-size: 40px;
  position: absolute;
  color: #E9B730;
  font-weight: bold;
  display: block;
  margin-left: -34px;
  margin-top: 0px;
}

.cards__item::after {
  content: "";
  display: block;
  background-color: transparent;
  width: 340px;
  height: 1px;
  box-shadow: inset 0px -1px 0px #FFFFFF;
  position: absolute;
  top: 96px;
  left: 70px;
}

.cards__item:nth-child(1) {
  background: #22356F;
}

.cards__item:nth-child(2) {
  background: #0052C1;
}

.cards__item:nth-child(3) {
  background: url(./img/nutrition.jpg)
}

.cards__item:nth-child(4) {
  background: #62D0DF;
}

.cards__item:nth-child(5) {
  background: #DEE1FF;
}

.cards__item:nth-child(6) {
  background: #8F00FF;
}

/* pros */
.pros {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pros__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pros__item {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-top: 50px;
  padding-left: 105px;
  width: calc(33.3% - 105px);
}

.pros__title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
}

.pros__text {
  width: 300px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

/* info */
.info {
  height: 800px;
  margin: 0;
  padding: 0;
  padding-left: 586px;
  background-image: url(./img/info.jpg);
  background-position: left;
  background-size: 480px 800px;
  background-repeat: no-repeat;
}

.info__title {
  padding-top: 110px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356F;
  text-transform: uppercase;
}

.info__text {
  margin: 0;
  margin-top: 225px;
  padding: 0;
  width: 676px;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #22356F;
}

.info__link {
  display: block;
  margin: 0;
  margin-top: 145px;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  text-transform: uppercase;
}

/* contact us */
.contact-us {
  height: 800px;
  margin: 0;
  padding: 0;
  padding-left: 180px;
  background-color: #22356F;
  background-image: url(./img/contact-us.jpg);
  background-position: right;
  background-size: 480px 800px;
  background-repeat: no-repeat;
}

.contact-us__title {
  margin: 0;
  padding-top: 110px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.contact-us__subtitle {
  margin: 0;
  padding-top: 220px;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.contact-us__text {
  width: 579px;
  margin: 0;
  margin-top: 50px;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}

.contact-us__link {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62D0DF;
  text-transform: uppercase;
}

/* footer */
.page-footer {
  margin: 0;
  margin-top: -16px;
  padding: 0;
}

.contact-info {
  margin: 0;
  padding: 0;
  height: 380px;
  background-image: url(./img/footer.jpg);
  background-position: left;
  background-size: 570px 380px;
  background-repeat: no-repeat;
}

.contact-info__list {
  margin-left: 600px;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contact-info__item {
  width: 260px;
}

.contact-info__title {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356F;
  text-transform: uppercase;
}

.contact-info__text {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.copyright {
  height: 60px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-left: 180px;
  background: #62D0DF;
}

.copyright__text {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}